.card {
	padding: 0.5rem;
	border: 1px solid black;
	border-radius: 0.5rem;
	& h2 {
		/* equivalent to `.card h2` */
		color: slateblue;
		.featured & {
			/* equivalent to `:is(.card h2):is(.featured h2)` */
			color: tomato;
		}
	}
}
