* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(15, 19, 25);
	padding: 0.5rem;
}

.grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	/* gap: 0.5rem; */
	grid-auto-flow: dense;
	max-width: 1400px;
	margin: 0 auto;
}

.grid-item {
	border-radius: 0.5rem;
	overflow: hidden;
	/* background-color: rgb(229, 231, 235); */
	aspect-ratio: 1 / 1;
	border: 1rem solid rgb(15, 19, 25);
	background: rgb(15, 19, 25);
	border-radius: 0.5rem;
}

.grid-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 0.5rem;
}

.grid-item.vertical {
	aspect-ratio: 1 / 2;
	grid-row: span 2;
}

.grid-item.horizontal {
	aspect-ratio: 2 / 1;
	grid-column: span 2;
}

@media (min-width: 30rem) {
	body {
		padding: 0.75rem;
	}

	.grid {
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		/* gap: 0.75rem; */
	}
}

@media (min-width: 48rem) {
	body {
		padding: 1rem;
	}

	.grid {
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	}
}

@media (min-width: 64rem) {
	.grid {
		grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	}
}
